@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Cooper";
  src: url("/fonts/CooperLtBT-Regular.ttf");
}

.ft-cooper {
  font-family: "Cooper", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ft-inter {
  font-family: "Inter", sans-serif;
}

.txt-underline-base {
  text-decoration:underline;
  text-underline-offset: 4px;
  text-decoration-color:var(--clr-green-base);
  text-decoration-thickness: 4px;
  font-weight:600;
}


:root {
    --bg-base: linear-gradient(to bottom, #ffff, #fdfdfa, #fefef4);
    --clr-base: #fffefe;
    --clr-base-accent:rgb(243, 243, 243);
    --clr-base-text: #434242;

    --clr-pink-extralight: #fdf7fd;
    --clr-pink-light: #fff2f4;
    --clr-pink-base: #ef9dc2;
    --clr-pink-dark: rgb(205, 66, 89);

    --clr-purple-base: #8879DF;
 
    --clr-green-extralight:#eefce6; /*#f5f9eb*/
    --clr-green-light:#b9ea9c;
    --clr-green-base:#70D465; /*#628B21*/
    --clr-green-dark:#51AF74; /*#369e4e*/
    --clr-green-extradark:#0b7a60; /*#155a25*/

    --clr-red-extralight:rgb(255, 247, 247); 
    --clr-red-base: rgb(235, 82, 90);

    --clr-orange-extralight:rgb(255, 253, 249);
    --clr-orange-base:rgb(255, 192, 74);

    --clr-yellow-extralight: #fffefb;
    --clr-yellow-base:#f0e477;

    --clr-grey-light:rgb(233, 233, 233);
    --clr-grey-base:rgb(119, 118, 118);

    --clr-blue-extralight:rgb(246, 250, 251);
    --clr-blue-base:rgb(101, 190, 237);
    --clr-blue-dark:#141425;

    --clr-navy-dark:rgb(6, 4, 24);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-base:#1e1d1d;
    --clr-base: #1d1d1d;
    --clr-base-text: #ffffff;
    --clr-base-accent: rgb(46, 45, 45);

    --clr-grey-light:rgb(70, 70, 70);
    --clr-grey-base:rgb(162, 162, 162);

    --clr-blue-dark:#0f0f15;
  }
}


body {
  background: var(--clr-base);
  color: var(--clr-base-text);
}

svg {
  fill: var(--clr-base-text);
}

h1,h2,h3,h4,h5,h6 {
  font-weight:700;
  line-height:1;
}


p {
  color: var(--clr-grey-dark);
}

a {
  cursor:pointer;
}

input {
  background-color:transparent;
  border: solid 1px var(--clr-base-accent);
}

input:focus {
  outline:none;
}


iframe::-webkit-scrollbar {
  width: 0px;
  height:0px;
}

@media screen and (min-width: 1024px) {
  h1 {font-size: 4.5rem;}
  h2 {font-size: 3.75rem;}
  h3 {font-size: 3rem;}
  h4 {font-size: 2.25rem;}
  h5 {font-size: 1.875rem;}
  h6 {font-size: 1.5rem;}
  p {font-size: 18px}
}

@media screen and (min-width: 768px) {
  h1 {font-size: 3.75rem;}
  h2 {font-size: 3rem;}
  h3 {font-size: 2.25rem;}
  h4 {font-size: 1.875rem;}
  h5 {font-size: 1.5rem;}
  h6 {font-size: 1.125rem;}
  p {font-size: 17px}
}

@media screen and (max-width: 786px) {
  h1 {font-size: 3rem;}
  h2 {font-size: 2.25rem;}
  h3 {font-size: 1.875rem;}
  h4 {font-size: 1.5rem;}
  h5 {font-size: 1.25rem;}
  h6 {font-size: 1.125rem;}
  p {font-size: 15px}
}
