.section {
    display:grid;
    grid-template-columns: 3fr 2fr 3fr;
    gap:80px;
    background-color:var(--clr-blue-dark);
    color:white;
}

@media (max-width: 1024px) {
    .section {
        display:flex;
        flex-direction:column;
        gap:40px;
    }
}